<%= form_for(plant) do |f| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
      <% plant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-center">
    <%= f.label :spiecie %>
    <%= f.text_field :spiecie, class:"form-control" %>
  </div>

  <div class="field text-center">
    <%= f.label :description %>
    <%= f.text_field :description, class:"form-control" %>
  </div>

  <div class="field text-center">
    <%= f.label "Price" %>
    <%= f.text_field :string, class:"form-control" %>
  </div>

  <div class="actions text-center">
    <%= f.submit %>
  </div>
<% end %>
